:root {
  --blue: #080777;
}

* {
  font-family: "Bangers", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

.navbar {
  background: linear-gradient(90deg, #1b1b1d, #080777);
  color: white;
  padding: 15px;
}

.h1 {
  font-size: 50px;
}

.search {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.form input {
  width: 100%;
  margin: 5px;
}

.form button {
  width: 100%;
  margin: 5px;
  color: green;
  border-color: green;
}

.form button:hover {
  background-color: green;
}

.cityBtn {
  margin: 10px;
  width: 100%;
}

.past-searches {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-display {
  padding-right: 5%;
}

/* TO STYLE THE MAIN WEATHER BOX */
.city-box {
  padding: 10px;
  margin: 10px;
  background: linear-gradient(90deg, white, #080777);
  border-radius: 7px;
  line-height: 12px;
}

.cityDiv {
  display: flex;
  justify-content: flex-start;
}

.cityHeader {
  padding-right: 5%;
}

.cityDate {
  padding-right: 5%;
}

.uv {
  padding: 5px;
  border-radius: 5px;
}

.city-box img {
  width: 8%;
}

.city-box p {
  font-family: monospace;
  font-weight: 900;
}

.city-box span {
  font-family: monospace;
  font-weight: 900;
}

/* 5 day weather box */
.five-day {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--blue);
  border-radius: 7px;
}

.five-day p {
  font-family: monospace;
  font-weight: 900;
}

.card {
  width: 19%;
  padding: 10px;
  line-height: 12px;
}

.card img {
  width: 50%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  .five-day p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .five-day h5 {
    font-size: 14px;
  }
  .five-day p {
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    padding: 2px;
  }

  .five-day {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .five-day .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .five-day .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .temps,
  .windHum {
    width: 33%;
  }
  .stats img {
    width: 20%;
    height: auto;
    text-align: left;
    padding: 0;
  }
}

.city-box h3 {
    font-size: 16px;
}

.city-box h4 {
    font-size: 16px;
}

.city-box p {
    font-size: 14px;
}

h2 {
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

.form * {
  font-size: 14px;
}

.cityBtn {
    font-size: 14px;
}
