:root {
    --blue: #080777;
}

* {
    font-family: 'Bangers', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
    background: linear-gradient(90deg, #1b1b1d, #080777);
    color: white;
    padding: 15px;
}

.h1 {
  font-size: 50px;

}

.search {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.form input {
    width: 100%;
    margin: 5px;
}

.form button {
    width: 100%;
    margin: 5px;
    
}


.cityBtn {
    margin: 10px;
    width: 100%;

    
}

.past-searches {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weather-display {
    padding-right: 5%;
}

/* TO STYLE THE MAIN WEATHER BOX */
.city-box {
    padding: 10px;
    margin: 10px;
    background: linear-gradient(90deg, white, #080777);
    border-radius: 7px;
}

.cityDiv {
    display: flex;
    justify-content: flex-start;
}

.cityHeader {
  padding-right: 5%;
}

.cityDate {
    padding-right: 5%;
}

.uv {
    padding: 5px;
    border-radius: 5px;
}

.cityDiv img {
    width: 50px;
}

/* 5 day weather box */
.five-day {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blue);
    border-radius: 7px;
}

.card {
    width: 19%;
    padding: 10px;
}

.card img {
    width: 50%;
}

